body,html{
	padding:0;
	margin:0;
}
.star{
	font-size: 0;
}
.star .star-item{
	display: inline-block;
	background-repeat: no-repeat;
}
/*size:48*/
.star.star-48 .star-item{
	width:20px;
	height:20px;
	background-size:20px 20px;
	margin-right:22px;
	transition:all .3s;
	-webkit-transition:all .3s;
}
.star.star-48 .star-item:hover{
	transform: scale(1.1);
	-webkit-transform:scale(1.1);
}
.star.star-48 .star-item.on{
	background-image: url(../images/star48_on@2x.png);
}
.star.star-48 .star-item.half{
	background-image: url(../images/star48_half@2x.png);
}
.star.star-48 .star-item.off{
	background-image: url(../images/star48_off@2x.png);
}
.star.star-48 .star-item:last-child{
	margin-right:0;
}
/*size:36*/
.star.star-36 .star-item{
	width:15px;
	height:15px;
	background-size:15px 15px;
	margin-right:6px;
}
.star.star-36 .star-item.on{
	background-image: url(../images/star36_on@2x.png);
}
.star.star-36 .star-item.half{
	background-image: url(../images/star36_half@2x.png);
}
.star.star-36 .star-item.off{
	background-image: url(../images/star36_off@2x.png);
}
.star.star-36 .star-item:last-child{
	margin-right:0;
}
/*size:24*/
.star.star-24 .star-item{
	width:10px;
	height:10px;
	background-size:10px 10px;
	margin-right:3px;
}
.star.star-24 .star-item.on{
	background-image: url(../images/star24_on@2x.png);
}
.star.star-24 .star-item.half{
	background-image: url(../images/star24_half@2x.png);
}
.star.star-24 .star-item.off{
	background-image: url(../images/star24_off@2x.png);
}
.star.star-24 .star-item:last-child{
	margin-right:0;
}

@media (-webkit-min-device-pixel-ratio:3),(min-device-pixel-ratio:3){
	/*size:48*/
	.star.star-48 .star-item.on{
		background-image: url(../images/star48_on@3x.png);
	}
	.star.star-48 .star-item.half{
		background-image: url(../images/star48_half@3x.png);
	}
	.star.star-48 .star-item.off{
		background-image: url(../images/star48_off@3x.png);
	}
	/*size:36*/
	.star.star-36 .star-item.on{
		background-image: url(../images/star36_on@3x.png);
	}
	.star.star-36 .star-item.half{
		background-image: url(../images/star36_half@3x.png);
	}
	.star.star-36 .star-item.off{
		background-image: url(../images/star36_off@3x.png);
	}
	/*size:24*/
	.star.star-24 .star-item.on{
		background-image: url(../images/star24_on@3x.png);
	}
	.star.star-24 .star-item.half{
		background-image: url(../images/star24_half@3x.png);
	}
	.star.star-24 .star-item.off{
		background-image: url(../images/star24_off@3x.png);
	}
}